* {
  box-sizing: border-box;
}

#root {
  background-color: #eaedef;
}

body {
  margin: 0 auto;
  max-width: 1250px;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  height: 100vh;
  margin: 0 1.4em;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.06);
}

.address-form {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0;
    background: #ffffff;
    border: 1px solid rgba(168, 186, 187, 0.34);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);
    border-radius: 6px;
  }

  .column-container:first-child {
    margin-right: 1em;
  }

  .column-container:last-child {
    margin-left: 1em;
  }

  .column,
  .drop-down {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .column {
    padding: 4.5em 2em;
  }

  .column-header {
    align-self: flex-start;
    padding: 1.5em 0 1.5em 1.5em;
    background: #ebedef;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid #dddddd;
    border-radius: 5px 5px 0 0;
  }

  .ui.input,
  .ui.selection.dropdown,
  .radio-buttons,
  .field > textarea {
    width: 22rem !important;
  }
}

/*-----------------------------------
          Form Overrides
-------------------------------------*/
.ui.form .field {
  margin: 0em 0em 1.3em;
}

.ui.form .inline.fields > label,
.ui.form .inline.fields .field > label,
.ui.form .inline.fields .field > p,
.ui.form .inline.field > label,
.ui.form .inline.field > p {
  font-size: 13px;
  font-weight: 400;
  margin-right: 2em !important;
}

.ui.form textarea {
  font-family: "Poppins";
}

.ui.form input[type="text"],
.ui.form input[type="file"],
.ui.form input[type="url"],
.ui.form input[type="radio"],
.ui.form input[type="tel"],
.ui.checkbox label,
.ui.selection.dropdown,
.ui.dropdown .menu > .item,
.ui.form textarea {
  font-size: 13px;
  font-weight: 400;
}

.ui.dropdown > .text {
  font-weight: 400;
}

.ui.form .field:last-child,
.ui.form .fields:last-child .field {
  display: flex;
  align-items: baseline;
}
